body {
	background-color:#fff4eb;
}

.card {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.card-img-top {
	height: 180px; 
	object-fit: cover;
	width: 100%; 
}

.card-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1; 
}

.card-text {
	flex-grow: 1; 
}

.card-title {
	min-height: 48px;
}

.btn-primary {
	margin-top: auto;
}

